# SQLite Demo
Grace Kim (haeunk@andrew.cmu.edu)
Last updated: Spring 21

## Establish connection to database

In [ ]:
import sqlite3
db = sqlite3.connect("hack112.db")
cursor = db.cursor()
print(db)

## Create table

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS participants (
id INTEGER PRIMARY KEY,
name TEXT,
major TEXT,
year INTEGER,
team TEXT
)
""")
db.commit()

## Insert data into table

In [ ]:
cursor.execute("INSERT INTO participants (name, major, year, team) VALUES ('Grace', 'IS', 2022, 'Team Duck-Sized Horses')")
cursor.execute("INSERT INTO participants (name, major, year, team) VALUES ('Sebastian', 'ECE', 2024, 'Team Duck-Sized Horses')")
cursor.execute("INSERT INTO participants (name, major, year, team) VALUES ('Steven', 'Business', 2024, 'Team Tepper')")
cursor.execute("INSERT INTO participants (name, major, year, team) VALUES ('Henry', 'Stats', 2021, 'Team Tepper')")
db.commit()

## Read data from table

In [ ]:
data = cursor.execute("SELECT * FROM participants")
print(data)
dataList = [x for x in data]
print(dataList)
for row in data:
    print(row)

## WHERE clause
The WHERE clause is used to filter records. You can use it to extract only those records that fulfill the specified condition. Conditions can be defined using arithmetic operators and BETWEEN, LIKE, and IN.

In [ ]:
freshmen = cursor.execute("SELECT * FROM participants WHERE year = 2024")
for row in freshmen:
    print(row)

## Update data in table
LIKE '%a' finds any values that start with "a".
LIKE 'a%' finds any values that end with "a".

In [ ]:
print("rows before updating")
data = cursor.execute("SELECT * FROM participants")
for row in data:
    print(row)
    
cursor.execute("UPDATE participants SET team = 'Team Engineers' WHERE major LIKE 'E%'")
db.commit()
print("rows after updating")
data = cursor.execute("SELECT * FROM participants")
for row in data:
    print(row)

## ORDER BY clause

In [ ]:
print("oldest to youngest")
oldestFirst = cursor.execute("SELECT * FROM participants ORDER BY year ASC")
for row in oldestFirst:
    print(row)

print("youngest to oldest")
youngestFirst = cursor.execute("SELECT * FROM participants WHERE team = 'Team Tepper' ORDER BY year DESC")
for row in youngestFirst:
    print(row)

## Fun operations: MIN/MAX, COUNT, AVG, SUM

In [ ]:
oldest = cursor.execute("SELECT MIN(year) FROM participants")
for row in oldest:
    print(row)

In [ ]:
numParticipants = cursor.execute("SELECT COUNT(team) FROM participants")
for row in numParticipants:
    print(row)

In [ ]:
avgGradYear = cursor.execute("SELECT AVG(year) FROM participants")
for row in avgGradYear:
    print(row)

In [ ]:
sumGradYear = cursor.execute("SELECT SUM(year) FROM participants")
for row in sumGradYear:
    print(row)